<div id="edit_page" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Fix talent</h1>
      </div>
      <div class="panel-body">
        <div class="current_image">
          <%# <strong>Rigth now</strong> %>
          <%#= cl_image_path(@talent.photos)%>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<<<<<<< HEAD
<%= link_to 'Back', talent_path  %>
  <%#= image_tag 'backward-front-premium.png', width: 30 %>
<%# end %>
=======
<%= link_to "Retour", talent_path %>
>>>>>>> a309972615b1ed591c0f943f3537e3d8a8d564fa
