// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
//  @font-face {
// //   font-family: "Font Name";
// //   src: font-url('FontFile.eot');
// //   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
// //        font-url('FontFile.woff') format('woff'),
// //        font-url('FontFile.ttf') format('truetype')
// // }
@font-face {
  font-family: 'Sketchalot';
  src:url('/app/assets/font/Sketchalot.ttf')
}
@font-face {
  font-family: 'Brian';
  src: url('/app/assets/font/Brian\ Strait\ personal\ use.otf');
}
// $my-font: "Font Name";
