.smooth {
  scroll-snap-type: none !important;
}

section.campaigns {

  display: flex;
  // height: 100vh;

  // scroll-snap-align: center;

  .note {
    font-family: $note-font;
  }

  &:nth-child(1) {
    flex-direction: column;
    padding-top: 13vh;

    & .content {
    display: flex;
    // width: 50vw;
    // height: 100vh;
    justify-content: center;
    // align-items: center;
      & .text-content {
        border-bottom: 1px black solid;
        width: 85vw;
        & p {
          width: 70vw;
        }
        //text-align: center;
        & .nav-link:active{
          background-color: transparent !important;
          text-decoration: underline;
          color:red;
        }
        & a {
          font-size: 14px;
          // color: $red;
          &:hover {
            text-decoration: underline;
            color:red;
          }
          &:active {
            color:red;
            text-decoration: underline;
          }
        }
      }
    }
    & .img-wrapper {
      display: flex;
      justify-content: space-between;
      width: 85vw;
      & .gif-talent {
        filter: grayscale(100%);
        margin: 30px 0;
        height: 430px;
        width: 24%;
          background-size: cover;
          background-position: top center;
          // &#gif-five {
          //   // animation: 10.1s gifMakerFive infinite;
          // }
          // &#gif-six {
          //   // animation: 10.3s gifMakerSix infinite;
          // }
          // &#gif-seven {
          //   // animation: 10s gifMakerSeven infinite;
          //   // transform: rotate(2deg);
          // }
          // &#gif-height {
          //   // animation: 10.2s gifMakerHeight infinite;
          // }
      }
      & .note {
        margin: 30px 10px;
        width: 24%;
        font-size: 18px;
        text-transform: uppercase;
        & span {
          text-decoration: line-through;
        }
      }
    }
  }

  &:nth-child(2) {
    flex-direction: column;
    padding-top: 13vh;

    & .content {
      display: flex;
      justify-content: center;
      & .text-content {
        border-bottom: 1px black solid;
          width: 85vw;
          & p {
            width: 35vw;
          }
        & a {
          font-size: 14px;
          color: inherit;
          background-color: transparent !important;
          &:hover {
            color: $red !important;
            text-decoration: underline;
          }
          &.active {
             color: $red !important;
          }
        }
      }
    }
    & .img-wrapper {

      width: 100vw;
      padding: 30px 13vh 50px;


      // overflow-y: scroll;
      // height: 73vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 6px;
      width: 100vw;
      padding: 30px 13vh 50px;
      background-image: -moz-linear-gradient(bottom, from rgba(0, 0, 0, 0.2), to rgba(0, 0, 0, 0.2));
      background-image: -webkit-gradient(linear, left top, left bottom, from rgba(0, 0, 0, 0.2), to rgba(0, 0, 0, 0.2));
      // filter: grayscale(100%);
      // -webkit-filter: grayscale(100%);/* For Webkit browsers */
      // filter: gray;/* For IE 6 - 9 */
      -webkit-transition: all .6s ease;/* Fade to color for Chrome and Safari */
      // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");/* Firefox 10+, Firefox on Android */
      & .note {
        margin: 30px 10px;
        width: 24%;
        font-size: 18px;
        text-transform: uppercase;
        & span {
          text-decoration: line-through;
        }
      }
    }
  }

  &:nth-child(3) {
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;

    & .content {
      display: flex;
      color: white;
      width: 85vw;
      height: 40vh;
      justify-content: space-between;
      align-items: baseline;
      & a {
        font-size: 14px;
        color: $red;
        &:hover {
          border-bottom: 1px $red solid;
        }
      }
      & .social-icons li {
        padding: 0px;
      }
      & .social-icons a:hover {
        border-bottom: 0px $red solid;
      }
    }
  }
}

section.campaign {
  display: flex;
  height: 100vh;

  scroll-snap-align: center;

  .note {
    font-family: $note-font;
  }

  &:nth-child(1) {
    flex-direction: column;
    padding: 13vh;

    & .content {
      display: flex;
      // width: 50vw;
      // height: 100vh;
      z-index: 100;
      justify-content: center;
      // align-items: center;
      & .text-content {
        border-bottom: 1px black solid;
        width: 85vw;
        & p {
          width: 35vw;
          margin: 0;
          & i {
            font-size: 14px;
          }
        }
        //text-align: center;
        & a {
          font-size: 14px;
          color: $red;
          &:hover {
            border-bottom: 1px $red solid;
          }
        }
      }
    }

    & .img-wrapper {
      display: flex;
      justify-content: space-between;
      width: 85vw;
      position: relative;

      img, video {
        // filter: grayscale(100%);
        margin: 30px 0;
        height: 430px;
        width: 24%;
        object-fit: cover;
        object-position: top center;

        &:nth-child(1) {
            position: absolute;
            top: 260px;
          right: 420px;

            z-index: 100;
            height: 260px;
            width: 240px;
            box-shadow: 0px 10px 40px #00000017;
            transform: rotate(-5deg);
        }

        &:nth-child(2) {
            position: absolute;
            right: 530px;

            width: 360px;
            height: 430px;
            box-shadow: 0px -10px 40px #00000017;
        }

        &:nth-child(3) {
              position: absolute;
              right: 10px;
              top: -150px;
              height: 630px;
              width: 500px;
              transform: rotate(1deg);
        }

        &:nth-child(4) {
          position: absolute;
          right: 610px;
          top: 200px;
          height: 130px;
          width: 200px;
          transform: rotate(-3deg);
        }
      }

      .note {
        text-align: left;
        font-size: 27px;
        position: absolute;
        width:350px;
        max-width:350px;
        top: 150px;
        left: 350px;
        transform: rotate(-5deg);
        line-height: 1;
        color: white;
        & span {
          font-size: 57px;
          transform: rotate(-8deg);
        }
      }

      .rounded-shape {
          position: absolute;
            top: 360px;
            right: -100px;
            transform: translate(-50%, -50%);
            content: "";
            // border: 1px solid #000;
            height: 300px;
            width: 300px;
            border-radius: 90%;
            transform: rotate(-7deg);
            pointer-events: none;
            z-index: 180;
      }
    }
  }


  &:nth-child(2) {
    flex-direction: column;
    padding-top: 13vh;

    & .content {
      display: flex;
      justify-content: center;
      & .text-content {
        border-bottom: 1px black solid;
          width: 85vw;
          & p {
            width: 35vw;
          }
        & a {
          font-size: 14px;
          color: $red;
          &:hover {
            border-bottom: none;
          }
        }
      }
    }
    & .img-wrapper {
      overflow-y: scroll;
      height: 550px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      width: 85vw;
      margin: 30px 0;
      & .note {
        margin: 0px 0px;
        width: 100%;
        font-size: 18px;
        text-transform: uppercase;
        & span {
          text-decoration: line-through;
        }
      }
    }
  }

  &:nth-child(3) {
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;

    & .content {
      display: flex;
      color: white;
      width: 85vw;
      height: 40vh;
      justify-content: space-between;
      align-items: baseline;
      & a {
        font-size: 14px;
        color: $red;
        &:hover {
          border-bottom: 1px $red solid;
        }
      }
      & .social-icons li {
        padding: 0px;
      }
      & .social-icons a:hover {
        border-bottom: 0px $red solid;
      }
    }
  }

}

// @keyframes gifMakerFive {
//   0% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094469/PHOTOS%20CAMPAGNES%20MANQUANTES/NEW%20BALANCE%20X%20SAFYA/camp22_ld25zx.png'); //
//   }

//   9% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094469/PHOTOS%20CAMPAGNES%20MANQUANTES/NEW%20BALANCE%20X%20SAFYA/camp22_ld25zx.png'); //
//   }

//   10% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094457/PHOTOS%20CAMPAGNES%20MANQUANTES/ADIDAS%20LUCAS%20et%20ADAM/221837654_251772849787817_3580671199956442067_n_ivdo7b.jpg'); //
//   }

//   19% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094457/PHOTOS%20CAMPAGNES%20MANQUANTES/ADIDAS%20LUCAS%20et%20ADAM/221837654_251772849787817_3580671199956442067_n_ivdo7b.jpg'); //
//   }

//   20% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094460/PHOTOS%20CAMPAGNES%20MANQUANTES/AFFLELOU%20X%20ADELINE/273174275_988882871716955_5926263836778634053_n_c9skfk.jpg'); //
//   }

//   29% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094460/PHOTOS%20CAMPAGNES%20MANQUANTES/AFFLELOU%20X%20ADELINE/273174275_988882871716955_5926263836778634053_n_c9skfk.jpg'); //
//   }

//   30% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094457/PHOTOS%20CAMPAGNES%20MANQUANTES/COACH%20X%20CLARAVICTORYA/273181395_1372549309873911_6107413797946797634_n_qgmlph.jpg'); //
//   }

//   39% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094457/PHOTOS%20CAMPAGNES%20MANQUANTES/COACH%20X%20CLARAVICTORYA/273181395_1372549309873911_6107413797946797634_n_qgmlph.jpg'); //
//   }

//   40% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094643/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp12_dc3y3l.jpg'); //
//   }

//   49% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094643/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp12_dc3y3l.jpg'); //
//   }

//   50% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094647/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp19_gc9lqa.jpg'); //
//   }

//   59% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094647/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp19_gc9lqa.jpg'); //
//   }

//   60% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp7_m1u5ck.jpg'); //
//   }

//   69% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp7_m1u5ck.jpg'); //
//   }

//   70% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094456/PHOTOS%20CAMPAGNES%20MANQUANTES/FUSALP/258763836_1577054262646985_2925205536952192038_n_omp2co.jpg'); //
//   }

//   79% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094456/PHOTOS%20CAMPAGNES%20MANQUANTES/FUSALP/258763836_1577054262646985_2925205536952192038_n_omp2co.jpg'); //
//   }

//   80% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094460/PHOTOS%20CAMPAGNES%20MANQUANTES/JORJADELA%20X%20MAYBELLINE/283998063_486786329691270_4420953612455147018_n_zowiib.jpg'); //
//   }

//   89% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094460/PHOTOS%20CAMPAGNES%20MANQUANTES/JORJADELA%20X%20MAYBELLINE/283998063_486786329691270_4420953612455147018_n_zowiib.jpg'); //
//   }

//   90% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094647/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp26_bghoe9.png'); //
//   }

//   100% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094647/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp26_bghoe9.png'); //
//   }
// }

// @keyframes gifMakerSix {
//   0% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095342/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp18_lgnzmd.png'); //
//   }

//   9% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095342/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp18_lgnzmd.png'); //
//   }

//   10% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094644/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/274837873_4334142903354191_6408407187659038783_n_ma0h5d.jpg'); //
//   }

//   19% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094644/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/274837873_4334142903354191_6408407187659038783_n_ma0h5d.jpg'); //
//   }

//   20% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094647/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp26_bghoe9.png'); //
//   }

//   29% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094647/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp26_bghoe9.png'); //
//   }

//   30% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp16_cjvftx.jpg'); //
//   }

//   39% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp16_cjvftx.jpg'); //
//   }

//   40% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp10_wxcx2x.jpg'); //
//   }

//   49% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp10_wxcx2x.jpg'); //
//   }

//   50% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094643/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp15_poiyhs.jpg'); //
//   }

//   59% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094643/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp15_poiyhs.jpg'); //
//   }

//   60% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094643/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp15_poiyhs.jpg'); //
//   }

//   69% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094643/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp15_poiyhs.jpg'); //
//   }

//   70% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094644/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/274837873_4334142903354191_6408407187659038783_n_ma0h5d.jpg'); //
//   }

//   79% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094644/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/274837873_4334142903354191_6408407187659038783_n_ma0h5d.jpg'); //
//   }

//   80% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp10_wxcx2x.jpg'); //
//   }

//   89% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp10_wxcx2x.jpg'); //
//   }

//   90% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095248/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/268487220_107707621689925_5886275123043953271_n_v28cg3.jpg'); //
//   }

//   100% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095248/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/268487220_107707621689925_5886275123043953271_n_v28cg3.jpg'); //
//   }
// }

// @keyframes gifMakerSeven {
//   0% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095361/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp4_tfxqdt.png'); //
//   }

//   9% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095361/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp4_tfxqdt.png'); //
//   }

//   10% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095343/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/Capture_d_e%CC%81cran_2022-04-21_a%CC%80_22.50.22_pnddmy.png'); //
//   }

//   19% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095343/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/Capture_d_e%CC%81cran_2022-04-21_a%CC%80_22.50.22_pnddmy.png'); //
//   }

//   20% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095343/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp28_ej1h0x.png'); //
//   }

//   29% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095343/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp28_ej1h0x.png'); //
//   }

//   30% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095342/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp18_lgnzmd.png'); //
//   }

//   39% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651095342/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp18_lgnzmd.png'); //
//   }

//   40% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094644/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp14_r02jkk.jpg'); //
//   }

//   49% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094644/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp14_r02jkk.jpg'); //
//   }

//   50% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094643/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp8_xvqs1l.jpg'); //
//   }

//   59% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094643/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp8_xvqs1l.jpg'); //
//   }

//   60% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651095361/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp4_tfxqdt.png'); //
//   }

//   69% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651095361/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp4_tfxqdt.png'); //
//   }

//   70% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651095343/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/Capture_d_e%CC%81cran_2022-04-21_a%CC%80_22.50.22_pnddmy.png'); //
//   }

//   79% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651095343/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/Capture_d_e%CC%81cran_2022-04-21_a%CC%80_22.50.22_pnddmy.png'); //
//   }

//   80% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651095343/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp28_ej1h0x.png'); //
//   }

//   89% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651095343/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp28_ej1h0x.png'); //
//   }

//   90% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651095342/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp18_lgnzmd.png'); //
//   }

//   100% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651095342/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp18_lgnzmd.png'); //
//   }
// }

// @keyframes gifMakerHeight {
//   0% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp9_fqv9yy.jpg'); //
//   }

//   9% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp9_fqv9yy.jpg'); //
//   }

//   10% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp13_qhgzhs.jpg'); //
//   }

//   19% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp13_qhgzhs.jpg'); //
//   }

//   20% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp17_ugmveu.jpg'); //
//   }

//   29% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp17_ugmveu.jpg'); //
//   }

//   30% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094458/PHOTOS%20CAMPAGNES%20MANQUANTES/SAFYA%20x%20LEVIS/274965740_531889001541358_5352131132296434863_n_eemgql.jpg'); //
//   }

//   39% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094458/PHOTOS%20CAMPAGNES%20MANQUANTES/SAFYA%20x%20LEVIS/274965740_531889001541358_5352131132296434863_n_eemgql.jpg'); //
//   }

//   40% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094643/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp6_kjrsms.jpg'); //
//   }

//   49% {
//     background-image: url('https://res.cloudinary.com/akoustyle/image/upload/v1651094643/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp6_kjrsms.jpg'); //
//   }

//   50% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp3_vngrtx.jpg'); //
//   }

//   59% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp3_vngrtx.jpg'); //
//   }

//   60% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651096180/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/3Y0A1106_sysl1t.jpg'); //
//   }

//   69% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651096180/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/3Y0A1106_sysl1t.jpg'); //
//   }

//   70% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094456/PHOTOS%20CAMPAGNES%20MANQUANTES/LACOSTE%20X%20ADELINE/268336663_785241549541635_7393763660267882933_n_y5x47l.jpg'); //
//   }

//   79% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094456/PHOTOS%20CAMPAGNES%20MANQUANTES/LACOSTE%20X%20ADELINE/268336663_785241549541635_7393763660267882933_n_y5x47l.jpg'); //
//   }

//   80% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp17_ugmveu.jpg'); //
//   }

//   89% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094645/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp17_ugmveu.jpg'); //
//   }

//   90% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094648/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp20_g0cme1.png'); //
//   }

//   100% {
//     background-image: url('https: //res.cloudinary.com/akoustyle/image/upload/v1651094648/PHOTOS%20CAMPAGNES%20MANQUANTES/dossier%20sans%20titre/camp20_g0cme1.png'); //
//   }
// }

//////////////// RESPONSIVE ////////////////////

@media (max-width: 425px) {

  section.campaigns {

    &:nth-child(1) {

      & .content {
        & .text-content {
          & p {
            width: 100%;
          }
          //text-align: center;
          & .nav-link:active{
            background-color: transparent !important;
            text-decoration: underline;
            color:red;
          }
          & a {
            font-size: 14px;
            // color: $red;
            &:hover {
              text-decoration: underline;
              color:red;
            }
            &:active {
              color:red;
              text-decoration: underline;
            }
          }
        }
      }
      & .img-wrapper {
        & .gif-talent {
          height: 220px;
          width: 50%;
            // &#gif-one {
            //   animation: 10.1s gifMakerFive infinite;
            // }
            // &#gif-two {
            //   animation: 10.3s gifMakerSix infinite;
            // }
            // &#gif-three {
            //   display: none;
            //   animation: 10s gifMakerSeven infinite;
            // }
            // &#gif-four {
            //   display: none;
            //   animation: 10.2s gifMakerHeight infinite;
            // }
        }
        & .note {
          margin: 30px 10px;
          width: 24%;
          font-size: 18px;
          text-transform: uppercase;
          & span {
            text-decoration: line-through;
          }
        }
      }
    }

    &:nth-child(2) {
      flex-direction: column;
      padding-top: 13vh;

      & .text-content {
        padding: 10px 0;
      }

      & .nav-pills {
        justify-content: center !important;
        & .nav-link {
          font-size: 12px !important;
          padding: 5px 20px;
        }
      }
      & .img-wrapper {
        height: 460px;
        grid-template-columns: 1fr;
        & .campaign-card {
          height: 460px !important;
        }
      }
    }

  }

  section.campaign {
    padding: 0px !important;
    padding-top: 13vh !important;

    &:nth-child(1) {
      & .content {
        & .text-content {
          & p {
            width: 100%;
            margin: 0;
            & i {
              font-size: 14px;
            }
          }
        }
      }

      & .img-wrapper {
        img, video {
          &:nth-child(1) {
            top: 0px;
            right: -10px;
            width: 190px;
            height: 190px;
          }

          &:nth-child(2) {
            display: none;
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
          }

          &:nth-child(3) {
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
            transform: rotate(2deg);
            // display: none;
          }
          // &:nth-child(4) {
          //   right: 40px;
          //   top: 100px;
          //   width: 274px;
          //   height: 342px;
          //   // display: none;
          // }
        }

        .note {
          display: none;
        }

        .rounded-shape {
              top: 200px;
        }
      }
    }

    &:nth-child(2) {
      & .content {

        & .text-content {

            & p {
              width: 85vw;
            }

        }
      }
      & .img-wrapper {
        grid-template-columns: 1fr;
        & .campaign-card {
          height: 470px !important;
        }
      }
    }
  }

}


















// .campagne-header {
//   display: flex;
//   justify-content: flex-start;
//   text-align: start;
//   flex-direction: column;
//   padding: 20px;
//   margin: 0 85px;
// }
// .campagne-title h1 {
//   font-size: 25px;
//   font-weight: 700;
//   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// }
// .campagne-title span {
//   color: red;
//   font-weight: 500;
// }
// .campagne-wording p {
//   font-size: 15px;
//   font-weight: 400;
// }
// .line-campagnes {
//   // width:81vw;
//   border-bottom:solid 1px;
//   margin-bottom: 50px;
// }
// #pageContent {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 250px;
// }
// #grid-campaign {
//   // display: flex;
//   // flex-wrap: wrap;
//   // position: relative;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
//   grid-gap: 10px;
//   height: calc(100vh - 80px);
//   margin: auto 330px;
//   position:relative;
// }
// #rightCol {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position:relative;
// }
// .bottom-photo3 {
//   grid-row: 3 / span 1;
//   grid-column: 1 / span 1;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
// }
// .bottom-photo2 {
//   grid-row: 3 / span 1;
//   grid-column: 2 / span 1;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
// }
// .bottom-photo1 {
//   grid-row: 3 / span 1;
//   grid-column: 3 / span 1;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
// }
// .mid-photo {
//   // position:absolute;
//   // bottom: 0;
//   // left: 520px;
//   // border: 2px solid #fff;
//   // transform:rotate(-1.4deg)
//   grid-row: 2 / span 1;
//   grid-column: 1 / span 1;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
//   // border: solid 5px #fff;
//   // background: white;
//   // padding: 5px 5px 25px 5px;
// }
// .polaroid {
//   padding: 10px 10px 55px 10px;
//   background: #eee;
//   border: 1px solid #fff;
//   grid-row: 1 / span 2;
//   grid-column: 2 / span 2;
//   float:left;
//   transform:rotate(5deg);
//   // position: absolute;
//   // top: -11vh;
//   // left: 48vw;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   // filter: grayscale(100%);
// }
// .campaign-title {
//   grid-row: 2 / span 2;
//   grid-column: 2 / span 2;
//   z-index: 1;
// }
// .campaign-reach {
//   grid-row: 1 / span 1;
//   grid-column: 1 / span 1
// }
// .campaign-objectif {
//   grid-row: 3 / span 2;
//   grid-column: 2 / span 2;
//   z-index: 1;
//   transform: rotate(-15deg);
//   position:absolute;
//   top:-40px;
//   left:90px;
//   width: 200px;
// }

// @media(max-width:992px) {
//   #leftCol {
//     display:block;
//   }
//   #pageContent {
//     flex-direction: column;
//   }
// }
// // .mid-photo:before, .mid-photo:after {
// //   content: "";
// //   height: 98%;
// //   position: absolute;
// //   width: 100%;
// //   z-index: -1;
// // }
// // .mid-photo:before {
// //   background: #fafafa;
// //   box-shadow: 0 0 8px rgba(0,0,0,0.2);
// //   left: -5px;
// //   top: 4px;
// //   transform: rotate(-3.5deg);
// // }
// // .mid-photo:after {
// //   background: #f6f6f6;
// //   box-shadow: 0 0 3px rgba(0,0,0,0.2);
// //   right: -3px;
// //   top: 1px;
// //   transform: rotate(2.4deg);
// // }
// // .mid-photo img {
// //   width: 16vw;
// //   height: 24vh;
// //   filter: grayscale(100%);
// //   box-shadow: 0 0 10px rgba(0,0,0,0.2);
// //   transition: transform .1s;
// // }
// #leftCol img:hover {
//   filter: grayscale(0%);
//   // -ms-transform: scale(1.5); /* IE 9 */
//   // -webkit-transform: scale(1.5); /* Safari 3-8 */
//   // transform: scale(1.5);
// }

// // .campaign-stat {
// //   position: absolute;
// //   bottom: -0;
// //   left: 17vw;
// // }
// .features-campaign {
//   padding: 50px;
//   text-align:right;
//   position:relative;
// }
// .grid-layout {
//   display: grid;
//   grid-template-columns: 300px 300px 300px;
//   grid-template-rows: 300px 300px 300px;
//   position:relative;

// }
// .grid__item {
//   max-width: 600px;
//   max-height: 800px;
//   color:white;
// }

// // .a {
// //   background-color: lime;
// //   grid-row: 1 / span 2;
// //   grid-column: 1 /span 2;
// //   align-self: start;
// // }

// // .b {
// //   background-color: skyblue;
// //   grid-row: 1 / span 2;
// //   grid-column: 1 /span 2;
// //   justify-self: center;
// //   align-self: center;
// // }

// // .c {
// //   background-color: orange;
// //   grid-row: 1 / span 2;
// //   grid-column: 1 /span 2;
// //   justify-self: end;
// //   align-self: end;
// // }
// .a {
//   grid-column: 1 / span 2;
//   grid-row: 2;
//   z-index: 20;
//   align-self: end;
//   background-color: lime;
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 130%;
//   width: 60%;
//   border: 5px solid #fff;
// }

// .b {
//   grid-column: 1/span 2;
//   grid-row: 1/span 2;
//   // z-index: 10;
//   // background-color: yellow;
//   // border-radius: 50%;
//   // background-size: cover;
//   // background-repeat: no-repeat;
//   height: 100%;
//   width: 90%;
//   padding: 20px;
//   // border: 3px solid #fff;
// }

// .c {
//   grid-column: 1 / span 2;
//   grid-row: 1;
//   align-self: start;
//   margin-left: -20px;
//   z-index: 21;
//   // background-color: orange;
//   text-align: center;
//   // background-size: cover;
//   // background-repeat: no-repeat;
//   height: 110%;
//   width: 110%;
//   // border: 5px solid #fff;
// }

// .d {
//   grid-column: 2;
//   grid-row: 2;
//   justify-self: end;
//   z-index: 22;
//   align-self: start;
//   background-color: skyblue;
//   // max-width: 80px;
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 120%;
//   width: 100%;
//   border: 5px solid #fff;
// }

// .e {
//   grid-column: 1 / span 2;
//   grid-row: 1 / span 2;
//   z-index: 99;
//   justify-self: center;
//   align-self: center;
//   position:absolute;

//   // background-color: red;
//   // // max-width: 100px;
//   // background-size: cover;
//   // background-repeat: no-repeat;
//   height: 20%;
//   width: 50%;
//   border-bottom: 40px solid white;
//   // border: 5px solid #fff;
//   transform: rotate(-45deg);
// }
