.campagne-header {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
  padding: 20px;
  margin: 0 85px;
}
.campagne-title h1 {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.campagne-title span {
  color: red;
  font-weight: 500;
}
.campagne-wording p {
  font-size: 15px;
  font-weight: 400;
}
.line-campagnes {
  width:81vw;
  border-bottom:solid;
  margin-bottom: 50px;
}
#pageContent {
  display: flex;
  justify-content: space-between;
}
#leftCol {
  display: flex;
  flex-wrap: wrap;
}
#rightCol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-photo {
  position:absolute;
  bottom: -180px;
  left: 520px;
  border: white solid 2px;
}
.mid-photo img {
  width: 20vw;
}
