

section.campaigns {

  display: flex;
  // height: 100vh;

  // scroll-snap-align: center;

  .note {
    font-family: $note-font;
  }

  &:nth-child(1) {
    flex-direction: column;
    padding-top: 13vh;

    & .content {
    display: flex;
    // width: 50vw;
    // height: 100vh;
    justify-content: center;
    // align-items: center;
      & .text-content {
        border-bottom: 1px black solid;
        width: 85vw;
        & p {
          width: 70vw;
        }
        //text-align: center;
        & .nav-link:active{
          background-color: transparent !important;
          text-decoration: underline;
          color:red;
        }
        & a {
          font-size: 14px;
          // color: $red;
          &:hover {
            text-decoration: underline;
            color:red;
          }
          &:active {
            color:red;
            text-decoration: underline;
          }
        }
      }
    }
    & .img-wrapper {
      display: flex;
      justify-content: space-between;
      width: 85vw;
      & .gif-talent {
        filter: grayscale(100%);
        margin: 30px 0;
        height: 430px;
        width: 24%;
          background-size: cover;
          background-position: top center;
          // &#gif-five {
          //   // animation: 10.1s gifMakerFive infinite;
          // }
          // &#gif-six {
          //   // animation: 10.3s gifMakerSix infinite;
          // }
          // &#gif-seven {
          //   // animation: 10s gifMakerSeven infinite;
          //   // transform: rotate(2deg);
          // }
          // &#gif-height {
          //   // animation: 10.2s gifMakerHeight infinite;
          // }
      }
      & .note {
        margin: 30px 10px;
        width: 24%;
        font-size: 18px;
        text-transform: uppercase;
        & span {
          text-decoration: line-through;
        }
      }
    }
  }

  &:nth-child(2) {
    flex-direction: column;
    padding-top: 13vh;

    & .content {
      display: flex;
      justify-content: center;
      & .text-content {
        border-bottom: 1px black solid;
          width: 85vw;
          & p {
            width: 35vw;
          }
        & a {
          font-size: 14px;
          color: inherit;
          background-color: transparent !important;
          &:hover {
            color: $red !important;
            text-decoration: underline;
          }
          &.active {
             color: $red !important;
          }
        }
      }
    }
    & .img-wrapper {

      width: 100vw;
      padding: 30px 13vh 50px;
      // overflow-y: scroll;
      // height: 73vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 6px;
      // width: 100vw;
      padding: 30px 13vh 50px;
      // background-image: -moz-linear-gradient(bottom, from rgba(0, 0, 0, 0.2), to rgba(0, 0, 0, 0.2));
      // background-image: -webkit-gradient(linear, left top, left bottom, from rgba(0, 0, 0, 0.2), to rgba(0, 0, 0, 0.2));
      // filter: grayscale(100%);
      // -webkit-filter: grayscale(100%);/* For Webkit browsers */
      // filter: gray;/* For IE 6 - 9 */
      // -webkit-transition: all .6s ease;/* Fade to color for Chrome and Safari */
      // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");/* Firefox 10+, Firefox on Android */
      & .note {
        margin: 30px 10px;
        width: 24%;
        font-size: 18px;
        text-transform: uppercase;
        & span {
          text-decoration: line-through;
        }
      }
    }
  }

  &:nth-child(3) {
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;

    & .content {
      display: flex;
      color: white;
      width: 85vw;
      height: 40vh;
      justify-content: space-between;
      align-items: baseline;
      & a {
        font-size: 14px;
        color: $red;
        &:hover {
          border-bottom: 1px $red solid;
        }
      }
      & .social-icons li {
        padding: 0px;
      }
      & .social-icons a:hover {
        border-bottom: 0px $red solid;
      }
    }
  }
}

section.campaign {
  display: flex;
  height: 100vh;

  // scroll-snap-align: center;

  .note {
    font-family: $note-font;
  }

  &:nth-child(1) {
    flex-direction: column;
    padding: 13vh;

    & .content {
      display: flex;
      // width: 50vw;
      // height: 100vh;
      z-index: 100;
      justify-content: center;
      // align-items: center;
      & .text-content {
        border-bottom: 1px black solid;
        width: 85vw;
        & p {
          width: 35vw;
          margin: 0;
          & i {
            font-size: 14px;
          }
        }
        //text-align: center;
        & a {
          font-size: 14px;
          color: $red;
          &:hover {
            border-bottom: 1px $red solid;
          }
        }
      }
    }

    & .img-wrapper {
      display: flex;
      justify-content: space-between;
      width: 85vw;
      position: relative;

      img, video {
        // filter: grayscale(100%);
        margin: 30px 0;
        height: 430px;
        width: 24%;
        object-fit: cover;
        object-position: top center;

        &:nth-child(1) {
            position: absolute;
            top: 260px;
          right: 420px;

            z-index: 100;
            height: 260px;
            width: 240px;
            box-shadow: 0px 10px 40px #00000017;
            transform: rotate(-5deg);
        }

        &:nth-child(2) {
            position: absolute;
            right: 530px;

            width: 360px;
            height: 430px;
            box-shadow: 0px -10px 40px #00000017;
        }

        &:nth-child(3) {
              position: absolute;
              right: 10px;
              top: -150px;
              height: 630px;
              width: 500px;
              transform: rotate(1deg);
        }

        &:nth-child(4) {
          position: absolute;
          right: 610px;
          top: 200px;
          height: 130px;
          width: 200px;
          transform: rotate(-3deg);
        }
      }

      .note {
        text-align: left;
        font-size: 27px;
        position: absolute;
        width:350px;
        max-width:350px;
        top: 150px;
        left: 350px;
        transform: rotate(-5deg);
        line-height: 1;
        color: white;
        & span {
          font-size: 57px;
          transform: rotate(-8deg);
        }
      }

      .rounded-shape {
          position: absolute;
            top: 360px;
            right: -100px;
            transform: translate(-50%, -50%);
            content: "";
            // border: 1px solid #000;
            height: 300px;
            width: 300px;
            border-radius: 90%;
            transform: rotate(-7deg);
            pointer-events: none;
            z-index: 180;
      }
    }
  }


  &:nth-child(2) {
    flex-direction: column;
    padding-top: 13vh;

    & .content {
      display: flex;
      justify-content: center;
      & .text-content {
        border-bottom: 1px black solid;
          width: 85vw;
          & p {
            width: 35vw;
          }
        & a {
          font-size: 14px;
          color: $red;
          &:hover {
            border-bottom: none;
          }
        }
      }
    }
    & .img-wrapper {
      // overflow-y: scroll;
      // -webkit-overflow-scrolling: touch;
      height: 550px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
      grid-gap: 10px;
      width: 85vw;
      margin: 30px 0;
      & .note {
        margin: 0px 0px;
        width: 100%;
        font-size: 18px;
        text-transform: uppercase;
        & span {
          text-decoration: line-through;
        }
      }
    }
  }

  &:nth-child(3) {
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;

    & .content {
      display: flex;
      color: white;
      width: 85vw;
      height: 40vh;
      justify-content: space-between;
      align-items: baseline;
      & a {
        font-size: 14px;
        color: $red;
        &:hover {
          border-bottom: 1px $red solid;
        }
      }
      & .social-icons li {
        padding: 0px;
      }
      & .social-icons a:hover {
        border-bottom: 0px $red solid;
      }
    }
  }

}

//////////////// RESPONSIVE ipad ////////////////////

/*Medium devices (tablets, 768px and up)*/
// @media (min-width: 768px) and (max-width: 1024px) {

//   section.campaigns {

//     &:nth-child(1) {

//       & .content {
//         & .text-content {
//           & p {
//             width: 100%;
//           }

//           //text-align: center;
//           & .nav-link:active {
//             background-color: transparent !important;
//             text-decoration: underline;
//             color: red;
//           }

//           & a {
//             font-size: 14px;

//             // color: $red;
//             &:hover {
//               text-decoration: underline;
//               color: red;
//             }

//             &:active {
//               color: red;
//               text-decoration: underline;
//             }
//           }
//         }
//       }

//       & .img-wrapper {
//         & .gif-talent {
//           height: 220px;
//           width: 50%;
//           // &#gif-one {
//           //   animation: 10.1s gifMakerFive infinite;
//           // }
//           // &#gif-two {
//           //   animation: 10.3s gifMakerSix infinite;
//           // }
//           // &#gif-three {
//           //   display: none;
//           //   animation: 10s gifMakerSeven infinite;
//           // }
//           // &#gif-four {
//           //   display: none;
//           //   animation: 10.2s gifMakerHeight infinite;
//           // }
//         }

//         & .note {
//           margin: 30px 10px;
//           width: 24%;
//           font-size: 18px;
//           text-transform: uppercase;

//           & span {
//             text-decoration: line-through;
//           }
//         }
//       }
//     }

//     &:nth-child(2) {
//       flex-direction: column;
//       padding-top: 13vh;

//       & .text-content {
//         padding: 10px 0;
//       }

//       & .nav-pills {
//         justify-content: center !important;

//         & .nav-link {
//           font-size: 12px !important;
//           padding: 5px 20px;
//         }
//       }

//       & .img-wrapper {
//         height: 460px;
//         grid-template-columns: 1fr 1fr 1fr;

//         & .campaign-card {
//           height: 460px !important;
//         }
//       }
//     }

//   }

//   section.campaign {
//     padding: 0px !important;
//     padding-top: 13vh !important;

//     &:nth-child(1) {
//       & .content {
//         & .text-content {
//           & p {
//             width: 100%;
//             margin: 0;

//             & i {
//               font-size: 14px;
//             }
//           }
//         }
//       }

//       & .img-wrapper {

//         img,
//         video {
//           &:nth-child(1) {
//             top: 0px;
//             right: -10px;
//             width: 190px;
//             height: 190px;
//           }

//           &:nth-child(2) {
//             display: none;
//             right: 40px;
//             top: 25px;
//             width: 274px;
//             height: 342px;
//           }

//           &:nth-child(3) {
//             right: 40px;
//             top: 25px;
//             width: 274px;
//             height: 342px;
//             transform: rotate(2deg);
//             // display: none;
//           }

//           // &:nth-child(4) {
//           //   right: 40px;
//           //   top: 100px;
//           //   width: 274px;
//           //   height: 342px;
//           //   // display: none;
//           // }
//         }

//         .note {
//           display: none;
//         }

//         .rounded-shape {
//           top: 200px;
//         }
//       }
//     }

//     &:nth-child(2) {
//       & .content {

//         & .text-content {

//           & p {
//             width: 85vw;
//           }

//         }
//       }

//       & .img-wrapper {
//         grid-template-columns: 1fr 1fr 1fr 1fr;

//         & .campaign-card {
//           height: 470px !important;
//         }
//       }
//     }
//   }

// }
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 1024px) {

  section.campaigns {

    &:nth-child(1) {

      & .content {
        & .text-content {
          & p {
            width: 100%;
          }

          //text-align: center;
          & .nav-link:active {
            background-color: transparent !important;
            text-decoration: underline;
            color: red;
          }

          & a {
            font-size: 14px;

            // color: $red;
            &:hover {
              text-decoration: underline;
              color: red;
            }

            &:active {
              color: red;
              text-decoration: underline;
            }
          }
        }
      }

      & .img-wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        & .gif-talent {
          //height: 220px;
          width: 100%;

          // & img {
          //   width: 330px;
          // }
          &#gif-five {
            display: block;
            & img {
                width: 220px;
              }
          }

          &#gif-six {
            display: block;
            & img {
              width: 220px;
            }
          }

          &#gif-seven {
            display: block;
            & img {
                width: 220px;
              }
          }

          &#gif-height {
            display: none;

          }
        }

        & .note {
          margin: 30px 10px;
          width: 24%;
          font-size: 18px;
          text-transform: uppercase;

          & span {
            text-decoration: line-through;
          }
        }
      }
    }

    &:nth-child(2) {
      flex-direction: column;
      // padding-top: 45vh;
      justify-content: center;
      // align-items: center;
      // background-color: black;
      // min-height: 65vh;

      & img {
        display: none;
      }

      & .text-content {
        padding: 10px 0;
      }

      & .nav-pills {
        justify-content: center !important;

        & .nav-link {
          font-size: 12px !important;
          padding: 5px 20px;
        }
      }

      & .img-wrapper {
        // height: 460px;
        padding: 54px;
        grid-template-columns: 1fr 1fr 1fr;

        & .campaign-card {
          height: 360px !important;
          width:100%;
        }
      }
    }

    &:nth-child(3) {
      justify-content: center;
      align-items: center;
      background-color: black;
      min-height: 65vh;

      & img {
        display: none;
      }

      & .social-icons {
        display: none;
      }

      & .content {
        display: flex;
        /* width: 50vw; */
        // height: 60vh;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;

        & .text-content {
          width: 35vw;
          position: relative;

          //text-align: center;
          & .social-icons {
            flex-direction: unset;
          }

          & a {
            font-size: 14px;
            color: $red;

            &:hover {
              border-bottom: 1px $red solid;
            }
          }

          // .rounded-shape {
          //   position: absolute;
          //   top: -15px;
          //   left: 358px;
          //   transform: translate(-50%, -50%);
          //   content: "";
          //   // border: 1px solid #000;
          //   height: 100px;
          //   width: 390px;
          //   border-radius: 90%;
          //   transform: rotate(-10deg);
          //   pointer-events: none;
          //   z-index: 100;
          // }
        }
      }
    }

  }

  section.campaign {
    padding: 0px !important;

    &:nth-child(1) {
      padding-top: 13vh !important;

      & .content {
        & .text-content {
          & p {
            width: 100%;
            margin: 0;

            & i {
              font-size: 14px;
            }
          }
        }
      }

      & .img-wrapper {

        img,
        video {
          &:nth-child(1) {
            top: 330px;
            right: 222px;
            width: 210px;
            height: 230px;
            z-index: 100;
          }

          &:nth-child(2) {
            // display: none;
            right: 315px;
            // top: 25px;
            width: 300px;
            height: 402px;
          }

          &:nth-child(3) {
            right: -45px;
            top: -32px;
            width: 307px;
            height: 530px;
            transform: rotate(2deg);
            // display: none;
          }

          // &:nth-child(4) {
          //   right: 40px;
          //   top: 100px;
          //   width: 274px;
          //   height: 342px;
          //   // display: none;
          // }
        }

        .note {
          // display: none;
          left:70px;
          top:150px;
        }

        .rounded-shape {
          // top: 160px;
          // left:70px;
        }
      }
    }

    &:nth-child(2) {
      padding-top: 13vh !important;

      & .content {

        & .text-content {

          & p {
            width: 85vw;
          }

        }
      }

      & .img-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;

        & .show-campaign-card {
          height: 270px !important;
        }
      }
    }

    &:nth-child(3) {
      justify-content: center;
      align-items: center;
      background-color: black;
      min-height: 45vh;

      // & img {
      //   display: none;
      // }

      & .social-icons {
        // display: none;
        flex-direction: row;
      }

      & .content {
        display: flex;
        /* width: 50vw; */
        // height: 60vh;
        justify-content: space-around;
        /* align-items: center; */
        // flex-direction: column;

        & .text-content {
          width: 35vw;
          position: relative;

          //text-align: center;
          & .social-icons {
            display: none;
            flex-direction: unset;
          }

          & a {
            font-size: 14px;
            color: $red;

            &:hover {
              border-bottom: 1px $red solid;
            }
          }

          .rounded-shape {
            position: absolute;
            top: -15px;
            left: 358px;
            transform: translate(-50%, -50%);
            content: "";
            // border: 1px solid #000;
            height: 100px;
            width: 390px;
            border-radius: 90%;
            transform: rotate(-10deg);
            pointer-events: none;
            z-index: 100;
          }
        }
      }
    }
  }

}

/*Small devices (landscape phones, 576px and up)*/
@media only screen and (min-width: 596px) and (max-width: 767px) {

  section.campaigns {

    &:nth-child(1) {

      & .content {
        & .text-content {
          & p {
            width: 100%;
          }

          //text-align: center;
          & .nav-link:active {
            background-color: transparent !important;
            text-decoration: underline;
            color: red;
          }

          & a {
            font-size: 14px;

            // color: $red;
            &:hover {
              text-decoration: underline;
              color: red;
            }

            &:active {
              color: red;
              text-decoration: underline;
            }
          }
        }
      }

      & .img-wrapper {
        // display:grid;
        // grid-gap:10px;
        // grid-template-columns: 1fr 1fr;
        & .gif-talent {
          //height: 220px;
          width: 100%;

          // & img {
          //   width: 330px;
          // }
          &#gif-five {
            display: block;
            & img {
              width:97%;
            }
          }

          &#gif-six {
            display: block;
            & img {
              width: 97%;
            }
          }

          &#gif-seven {
            display:block;
            & img {
              width: 97%;
              }
          }

          &#gif-height {
            display: none;

          }
        }

        & .note {
          margin: 30px 10px;
          width: 24%;
          font-size: 18px;
          text-transform: uppercase;

          & span {
            text-decoration: line-through;
          }
        }
      }
    }

    &:nth-child(2) {
      flex-direction: column;
      // padding-top: 45vh;
      justify-content: center;
      // align-items: center;
      // background-color: black;
      // min-height: 65vh;

      & img {
        display: none;
      }

      & .text-content {
        padding: 10px 0;
      }

      & .nav-pills {
        justify-content: center !important;

        & .nav-link {
          font-size: 12px !important;
          padding: 5px 20px;
        }
      }

      & .img-wrapper {
        // height: 460px;
        padding: 54px;
        grid-template-columns: 1fr 1fr 1fr;

        & .campaign-card {
          height: 260px !important;
          width:100%;
        }
      }
    }

    &:nth-child(3) {
      justify-content: center;
      align-items: center;
      background-color: black;
      min-height: 65vh;
      display:none;

      & img {
        display: none;
      }

      & .social-icons {
        display: none;
      }

      & .content {
        display: flex;
        /* width: 50vw; */
        // height: 60vh;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;

        & .text-content {
          width: 35vw;
          position: relative;

          //text-align: center;
          & .social-icons {
            flex-direction: unset;
          }

          & a {
            font-size: 14px;
            color: $red;

            &:hover {
              border-bottom: 1px $red solid;
            }
          }

          // .rounded-shape {
          //   position: absolute;
          //   top: -15px;
          //   left: 358px;
          //   transform: translate(-50%, -50%);
          //   content: "";
          //   // border: 1px solid #000;
          //   height: 100px;
          //   width: 390px;
          //   border-radius: 90%;
          //   transform: rotate(-10deg);
          //   pointer-events: none;
          //   z-index: 100;
          // }
        }
      }
    }

  }

  section.campaign {
    padding: 0px !important;

    &:nth-child(1) {
      padding-top: 13vh !important;

      & .content {
        & .text-content {
          & p {
            width: 100%;
            margin: 0;

            & i {
              font-size: 14px;
            }
          }
        }
      }

      & .img-wrapper {

        img,
        video {
          &:nth-child(1) {
            top: 0px;
            right: -26px;
            width: 145px;
            height: 190px;
          }

          &:nth-child(2) {
            display: none;
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
          }

          &:nth-child(3) {
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
            transform: rotate(2deg);
            // display: none;
          }

          // &:nth-child(4) {
          //   right: 40px;
          //   top: 100px;
          //   width: 274px;
          //   height: 342px;
          //   // display: none;
          // }
        }

        .note {
          display: none;
        }

        .rounded-shape {
          top: 200px;
        }
      }
    }

    &:nth-child(2) {
      padding-top: 13vh !important;

      & .content {

        & .text-content {

          & p {
            width: 85vw;
          }

        }
      }

      & .img-wrapper {
        grid-template-columns: 1fr 1fr 1fr;

        & .campaign-card {
          height: 370px !important;
        }
      }
    }

    &:nth-child(3) {
      justify-content: center;
      align-items: center;
      background-color: black;
      min-height: 65vh;

      & img {
        display: none;
      }

      & .social-icons {
        display: none;
      }

      & .content {
        display: flex;
        /* width: 50vw; */
        // height: 60vh;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;

        & .text-content {
          width: 35vw;
          position: relative;

          //text-align: center;
          & .social-icons {
            display: none;
            flex-direction: unset;
          }

          & a {
            font-size: 14px;
            color: $red;

            &:hover {
              border-bottom: 1px $red solid;
            }
          }

          .rounded-shape {
            position: absolute;
            top: -15px;
            left: 358px;
            transform: translate(-50%, -50%);
            content: "";
            // border: 1px solid #000;
            height: 100px;
            width: 390px;
            border-radius: 90%;
            transform: rotate(-10deg);
            pointer-events: none;
            z-index: 100;
          }
        }
      }
    }
  }

}

// landscape phones
@media only screen and (max-height: 576px) and (orientation: landscape) {
  section.campaigns {

    &:nth-child(1) {
      height:600px;

      & .content {
        & .text-content {
          & p {
            width: 100%;
          }

          //text-align: center;
          & .nav-link:active {
            background-color: transparent !important;
            text-decoration: underline;
            color: red;
          }

          & a {
            font-size: 14px;

            // color: $red;
            &:hover {
              text-decoration: underline;
              color: red;
            }

            &:active {
              color: red;
              text-decoration: underline;
            }
          }
        }
      }

      & .img-wrapper {

        // display:grid;
        // grid-gap:10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        & .gif-talent {
          //height: 220px;
          width: 100%;

          // & img {
          //   width: 330px;
          // }
          &#gif-five {
            display: block;

            & img {
              width: 100%;
            }
          }

          &#gif-six {
            display: block;

            & img {
              width: 100%;
            }
          }

          &#gif-seven {
            display: block;
            & img {
              width: 100%;
              }
          }

          &#gif-height {
            display: none;
            & img {
              width:100%;
            }

          }
        }

        & .note {
          margin: 30px 10px;
          width: 24%;
          font-size: 18px;
          text-transform: uppercase;

          & span {
            text-decoration: line-through;
          }
        }
      }
    }

    &:nth-child(2) {
      flex-direction: column;
      // padding-top: 45vh;
      justify-content: center;
      // align-items: center;
      // background-color: black;
      // min-height: 65vh;

      & img {
        display: none;
      }

      & .text-content {
        padding: 10px 0;
      }

      & .nav-pills {
        justify-content: center !important;

        & .nav-link {
          font-size: 12px !important;
          padding: 5px 20px;
        }
      }

      & .img-wrapper {
        // height: 460px;
        padding: 54px;
        grid-template-columns: 1fr 1fr 1fr;

        & .campaign-card {
          height: 260px !important;
          width:100%;
        }
      }
    }

    &:nth-child(3) {
      justify-content: center;
      align-items: center;
      background-color: black;
      min-height: 500px;
      display: none;

      & img {
        display: none;
      }

      & .social-icons {
        display: none;
      }

      & .content {
        display: flex;
        /* width: 50vw; */
        // height: 60vh;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;

        & .text-content {
          width: 35vw;
          position: relative;

          //text-align: center;
          & .social-icons {
            flex-direction: unset;
          }

          & a {
            font-size: 14px;
            color: $red;

            &:hover {
              border-bottom: 1px $red solid;
            }
          }

          // .rounded-shape {
          //   position: absolute;
          //   top: -15px;
          //   left: 358px;
          //   transform: translate(-50%, -50%);
          //   content: "";
          //   // border: 1px solid #000;
          //   height: 100px;
          //   width: 390px;
          //   border-radius: 90%;
          //   transform: rotate(-10deg);
          //   pointer-events: none;
          //   z-index: 100;
          // }
        }
      }
    }

  }

  section.campaign {
    padding: 0px !important;

    &:nth-child(1) {
      padding-top: 20vh !important;
      height: 650px;

      & .content {
        & .text-content {
          & p {
            width: 100%;
            margin: 0;

            & i {
              font-size: 14px;
            }
          }
        }
      }

      & .img-wrapper {

        img,
        video {
          &:nth-child(1) {
            top: 0px;
            right: -6px;
            width: 145px;
            height: 210px;
          }

          &:nth-child(2) {
            display: none;
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
          }

          &:nth-child(3) {
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
            transform: rotate(2deg);
            // display: none;
          }

          // &:nth-child(4) {
          //   right: 40px;
          //   top: 100px;
          //   width: 274px;
          //   height: 342px;
          //   // display: none;
          // }
        }

        .note {
          display: none;
        }

        .rounded-shape {
          top: 250px;
          right:-30px;
          width:200px;
        }
      }
    }

    &:nth-child(2) {
      padding-top: 13vh !important;
      height:550px;

      & .content {

        & .text-content {

          & p {
            width: 85vw;
          }

        }
      }

      & .img-wrapper {
        grid-template-columns: 1fr 1fr 1fr;

        & .campaign-card {
          height: 370px !important;
        }
      }
    }

    &:nth-child(3) {
      justify-content: center;
      align-items: center;
      background-color: black;
      height: 400px;

      & img {
        display: none;
      }

      & .social-icons {
        display: block;
        flex-direction: initial;
      }

      & .content {
        display: flex;
        /* width: 50vw; */
        height: 200px;
        justify-content: space-around;
        /* align-items: center; */
        // flex-direction: column;

        & .text-content {
          width: 35vw;
          position: relative;

          //text-align: center;
          & .social-icons {
            // display: block;
            // flex-direction: column;
          }

          & a {
            font-size: 14px;
            color: $red;

            &:hover {
              border-bottom: 1px $red solid;
            }
          }

          .rounded-shape {
            position: absolute;
            top: -15px;
            left: 358px;
            transform: translate(-50%, -50%);
            content: "";
            // border: 1px solid #000;
            height: 100px;
            width: 390px;
            border-radius: 90%;
            transform: rotate(-10deg);
            pointer-events: none;
            z-index: 100;
          }
        }
      }
    }
  }
}

/*Smallest device*/
@media (min-width: 100px) and (max-width: 595px) {

  section.campaigns {

    &:nth-child(1) {

      & .content {
        & .text-content {
          & p {
            width: 100%;
          }

          //text-align: center;
          & .nav-link:active {
            background-color: transparent !important;
            text-decoration: underline;
            color: red;
          }

          & a {
            font-size: 14px;

            // color: $red;
            &:hover {
              text-decoration: underline;
              color: red;
            }

            &:active {
              color: red;
              text-decoration: underline;
            }
          }
        }
      }

      & .img-wrapper {
        & .gif-talent {
          //height: 220px;
          width: 100%;
          // & img {
          //   width: 330px;
          // }
          &#gif-five {
            display: none;
          }
          &#gif-six {
            display:none;
            & img {
              width: 100%;
            }
          }
          &#gif-seven {
            display:none;
            // & img {
            //     width: 100%;
            //   }
          }
          &#gif-height {
            display:none;

          }
        }

        & .note {
          margin: 30px 10px;
          width: 24%;
          font-size: 18px;
          text-transform: uppercase;

          & span {
            text-decoration: line-through;
          }
        }
      }
    }

    &:nth-child(2) {
      flex-direction: column;
      // padding-top: 45vh;
      justify-content: center;
        // align-items: center;
        // background-color: black;
      // height: 2550px;
      & .content {
        margin-top:20px;
      }
        & img {
          display: none;
        }

      & .text-content {
        padding: 10px 0;
      }

      & .nav-pills {
        justify-content: center !important;

        & .nav-link {
          font-size: 12px !important;
          padding: 5px 20px;
        }
      }

      & .img-wrapper {
        // height: 460px;
        // padding: 17px;
        grid-template-columns: 1fr 1fr 1fr;
        width:342px !important;
        padding:0;
        margin:30px auto;

        & .campaign-card {
          height: 150px !important;
          // width: 100%;
          width:110px;
          & .card-info {
            & .title {
              font-size: 10px;
            }
          }

        }
      }
    }

    &:nth-child(3) {
      justify-content: center;
      align-items: center;
      background-color: black;
      min-height: 450px;
      margin-top:150px;

      & img {
        display: none;
      }
            & .social-icons{
        display: none;
      }

      & .content {
        display: flex;
        /* width: 50vw; */
        height: 200px;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;

        & .text-content {
          width: 35vw;
          position: relative;

          //text-align: center;
          & .social-icons {
            flex-direction: unset;
          }

          & a {
            font-size: 14px;
            color: $red;

            &:hover {
              border-bottom: 1px $red solid;
            }
          }

          // .rounded-shape {
          //   position: absolute;
          //   top: -15px;
          //   left: 358px;
          //   transform: translate(-50%, -50%);
          //   content: "";
          //   // border: 1px solid #000;
          //   height: 100px;
          //   width: 390px;
          //   border-radius: 90%;
          //   transform: rotate(-10deg);
          //   pointer-events: none;
          //   z-index: 100;
          // }
        }
      }
    }

  }

  section.campaign {
    padding: 0px !important;

    &:nth-child(1) {
      padding-top: 13vh !important;
      & .content {
        & .text-content {
          & p {
            width: 100%;
            margin: 0;

            & i {
              font-size: 14px;
            }
          }
        }
      }

      & .img-wrapper {

        img,
        video {
          &:nth-child(1) {
            top: 0px;
            right: -11px;
            width: 140px;
            height: 170px;
          }

          &:nth-child(2) {
            display: none;
            right: 40px;
            top: 27px;
            width: 270px;
            height: 390px;
          }

          &:nth-child(3) {
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
            transform: rotate(2deg);
            z-index: 10;
            // display: none;
          }

          // &:nth-child(4) {
          //   right: 40px;
          //   top: 100px;
          //   width: 274px;
          //   height: 342px;
          //   // display: none;
          // }
        }

        .note {
          display: none;
        }

        .rounded-shape {
          top: 261px;
          right: -11px;
          width:200px;
        }
      }
    }

    &:nth-child(2) {
      padding-top: 15vh !important;
      height:500px;
      & .content {

        & .text-content {

          & p {
            width: 85vw;
          }

        }
      }

      & .img-wrapper {
        grid-template-columns: 1fr 1fr;

        & .show-campaign-card {
          height: 240px !important;
        }
      }
    }

    &:nth-child(3) {
      justify-content: center;
      align-items: center;
      background-color: black;
      min-height: 500px;
      & img {
        display: none;
      }

      & .social-icons{
        display: none;
      }

      & .content {
        display: flex;
        /* width: 50vw; */
          // height: 60vh;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;
          & .text-content {
            width: 35vw;
            position: relative;
            //text-align: center;
            & .social-icons{
              display: none;
              flex-direction: unset;
            }
            & a {
              font-size: 14px;
              color: $red;
              &:hover {
                border-bottom: 1px $red solid;
              }
            }
          .rounded-shape {
              position: absolute;
              top: -15px;
              left: 358px;
                transform: translate(-50%, -50%);
                content: "";
                // border: 1px solid #000;
                height: 100px;
              width: 390px;
                border-radius: 90%;
                transform: rotate(-10deg);
                pointer-events: none;
                z-index: 100;
          }
          }
      }
    }
  }

}
