section.mentions {

  display: flex;
  min-height: 100vh;
  // margin-bottom: 20vh;

  // scroll-snap-align: center;

  // .note {
  //   font-family: $note-font;
  // }

  &:nth-child(1) {
    flex-direction: column;
    // padding-top: 13vh;
    justify-content: center;
    align-items: center;

    & .content {
    display: flex;
    // width: 50vw;
    // height: 100vh;
    justify-content: space-between;
    align-items: center;
      & .text-content {
        border-bottom: 1px black solid;
          max-width: 85vw;
          & p {
            max-width: 70vw;
          }
        //text-align: center;
        & a {
          font-size: 14px;
          color: $red;
          &:hover {
            border-bottom: 1px $red solid;
          }
        }
      }
    }
  }

  &:nth-child(2) {
    flex-direction: column;
    padding-top: 5vh;

    & .content {
      display: flex;
      justify-content: center;
      & .text-content {
        // border-bottom: 1px black solid;
          max-width: 85vw;
          & p {
            width: 35vw;
          }
        & a {
          font-size: 14px;
          color: $red;
          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }
  &:nth-child(3) {
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 39vh;

    & img {
      display: none;
    }

    & .social-icons {
      display: none;
    }

    & .content {
      &:nth-child(1) {
        display: flex;
        /* width: 50vw; */
        height: 100px;
        margin-top: 50px;
        justify-content: space-between;
        width: 100%;
        /* align-items: center; */
        // flex-direction: column;

        & .text-content {
          width: 35vw;
          position: relative;

          //text-align: center;
          & .social-icons {
            display: none;
            flex-direction: unset;
          }

          & a {
            font-size: 9px;
            color: $red;

            &:hover {
              border-bottom: 1px $red solid;
            }
          }

          .rounded-shape {
            position: absolute;
            top: -15px;
            left: 358px;
            transform: translate(-50%, -50%);
            content: "";
            // border: 1px solid #000;
            height: 100px;
            width: 390px;
            border-radius: 90%;
            transform: rotate(-10deg);
            pointer-events: none;
            z-index: 100;
          }
        }
      }

      &:nth-child(2) {
        width: 80%;
        flex-direction: column !important;
        // text-align: center !important;
        justify-content: center !important;
        color: white !important;
        align-items: center !important;
        // margin-top:56px;
        font-size: 0.9em;
      }
    }
  }

}
