section.mentions {

  display: flex;
  min-height: 100vh;
  // margin-bottom: 20vh;

  // scroll-snap-align: center;

  // .note {
  //   font-family: $note-font;
  // }

  &:nth-child(1) {
    flex-direction: column;
    // padding-top: 13vh;

    & .content {
    display: flex;
    // width: 50vw;
    // height: 100vh;
    justify-content: space-between;
    // align-items: center;
      & .text-content {
        border-bottom: 1px black solid;
          max-width: 85vw;
          & p {
            max-width: 70vw;
          }
        //text-align: center;
        & a {
          font-size: 14px;
          color: $red;
          &:hover {
            border-bottom: 1px $red solid;
          }
        }
      }
    }
  }

  // &:nth-child(2) {
  //   flex-direction: column;
  //   padding-top: 5vh;

  //   & .content {
  //     display: flex;
  //     justify-content: center;
  //     & .text-content {
  //       // border-bottom: 1px black solid;
  //         max-width: 85vw;
  //         & p {
  //           width: 35vw;
  //         }
  //       & a {
  //         font-size: 14px;
  //         color: $red;
  //         &:hover {
  //           border-bottom: none;
  //         }
  //       }
  //     }
  //   }
  // }
  &:nth-child(2) {
    min-height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;

    & .content {
      display: flex;
      color: white;
      max-width: 85vw;
      height: 30vh;
      justify-content: space-between;
      align-items: baseline;

      & a {
        font-size: 14px;
        color: $red;

        &:hover {
          border-bottom: 1px $red solid;
        }
      }

      & .social-icons li {
        padding: 0px;
      }

      & .social-icons a:hover {
        border-bottom: 0px $red solid;
      }
    }
  }

}
