section.talents {

  display: flex;
  // height: 100vh;

  // scroll-snap-align: center;

  .note {
    font-family: $note-font;
  }

  &:nth-child(1) {
    flex-direction: column;
    padding-top: 13vh;

    & .content {
      display: flex;
      justify-content: center;
      & .text-content {
        border-bottom: 1px black solid;
          width: 85vw;
          & p {
            width: 35vw;
          }
        & a {
          font-size: 14px;
          color: inherit;
          background-color: transparent !important;
          &:hover {
            color: $red !important;
            text-decoration: underline;
          }
          &.active {
             color: $red !important;
          }
        }
      }
    }

    & .img-wrapper {
      // overflow-y: scroll;
      // height: 70vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 6px;
      width: 100vw;
      padding: 30px 13vh 50px;
      background-image: -moz-linear-gradient(bottom, from rgba(0, 0, 0, 0.2), to rgba(0, 0, 0, 0.2));
      background-image: -webkit-gradient(linear, left top, left bottom, from rgba(0, 0, 0, 0.2), to rgba(0, 0, 0, 0.2));
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);/* For Webkit browsers */
      filter: gray;/* For IE 6 - 9 */
      // -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
      // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      & .note {
        margin: 30px 10px;
        width: 24%;
        font-size: 18px;
        text-transform: uppercase;
        & span {
          text-decoration: line-through;
        }
      }
    }
  }

  &:nth-child(2) {
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;

    & .content {
      display: flex;
      color: white;
      width: 85vw;
      height: 40vh;
      justify-content: space-between;
      align-items: baseline;
      & a {
        font-size: 14px;
        color: $red;
        &:hover {
          border-bottom: 1px $red solid;
        }
      }
      & .social-icons li {
        padding: 0px;
      }
      & .social-icons a:hover {
        border-bottom: 0px $red solid;
      }
    }
  }

}


section.talent {
  display: flex;
  height: 100vh;
  // margin-top: 13vh;
  // scroll-snap-align: center;

  .note {
    font-family: $note-font;
    font-size: 23px;
    color: white;
  }

  .rounded-shape {
      position: absolute;
        transform: translate(-50%, -50%);
        content: "";
        // border: 1px solid #000;
        height: 300px;
        width: 300px;
        border-radius: 90%;
        transform: rotate(0deg);
        pointer-events: none;
        z-index: 0;
  }

  &:nth-child(1) {
    justify-content: space-between;
    align-items: flex-start;

    & .content {
      display: flex;
      width: 50vw;
      height: 100vh;
      padding: 60px;
      justify-content: space-evenly;
      align-items: center;

      & .text-content {
        z-index: 10000;
        width: 45vw;
        z-index: 10000;
        //text-align: center;
        & .social-links > a {
          color: $black;
          &:hover {
            text-decoration: none;
          }

        }
        & .social-links > a i {
          color: $red;
          font-size: 20px;
        }
        & .social-links > a p {
          line-height: 1.7;
        }
        & a {
          font-size: 14px;
          color: $red;
          background-color: transparent !important;
          // &:hover {
          //   // border-bottom: 1px $red solid;
          // }
        }
      }
    }

    & video {
      height: 100%;
      width: 50vw;
          padding: 80px 0px 80px 80px;
      object-fit: cover;
      object-position: center top;
      filter: grayscale(100%) contrast(120%);
    }

    & img {
      height: 100%;
      width: 50vw;
      object-fit: cover;
      object-position: top center;
      filter: grayscale(100%);

      &.png-img {
        width: 400px;
        object-fit: cover;
      }
    }

    .talent-standing {
      position: relative;
      & #png-mouseout {
        display: block;
      }
      & #png-mousein {
        display: none;
      }
      &:hover {
        & #png-mouseout {
          display: none;
        }
        & #png-mousein {
          display: block;
        }
      }
    }

  }

  &:nth-child(2) {
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;

    & .content {
      display: flex;
      color: white;
      width: 85vw;
      height: 40vh;
      justify-content: space-between;
      align-items: baseline;
      & a {
        font-size: 14px;
        color: $red;
        &:hover {
          border-bottom: 1px $red solid;
        }
      }
      & .social-icons li {
        padding: 0px;
      }
      & .social-icons a:hover {
        border-bottom: 0px $red solid;
      }
    }
  }

}



//////////////// RESPONSIVE ////////////////////

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 1024px) {

  section.campaigns {

    &:nth-child(1) {

      & .content {
        & .text-content {
          & p {
            width: 100%;
          }

          //text-align: center;
          & .nav-link:active {
            background-color: transparent !important;
            text-decoration: underline;
            color: red;
          }

          & a {
            font-size: 14px;

            // color: $red;
            &:hover {
              text-decoration: underline;
              color: red;
            }

            &:active {
              color: red;
              text-decoration: underline;
            }
          }
        }
      }

      & .img-wrapper {
        & .gif-talent {
          height: 220px;
          width: 50%;
          // &#gif-one {
          //   animation: 10.1s gifMakerFive infinite;
          // }
          // &#gif-two {
          //   animation: 10.3s gifMakerSix infinite;
          // }
          // &#gif-three {
          //   display: none;
          //   animation: 10s gifMakerSeven infinite;
          // }
          // &#gif-four {
          //   display: none;
          //   animation: 10.2s gifMakerHeight infinite;
          // }
        }

        & .note {
          margin: 30px 10px;
          width: 24%;
          font-size: 18px;
          text-transform: uppercase;

          & span {
            text-decoration: line-through;
          }
        }
      }
    }

    &:nth-child(2) {
      flex-direction: column;
      padding-top: 13vh;

      & .text-content {
        padding: 10px 0;
      }

      & .nav-pills {
        justify-content: center !important;

        & .nav-link {
          font-size: 12px !important;
          padding: 5px 20px;
        }
      }

      & .img-wrapper {
        height: 460px;
        grid-template-columns: 1fr 1fr 1fr;

        & .campaign-card {
          height: 460px !important;
        }
      }
    }

  }

  section.campaign {
    padding: 0px !important;
    padding-top: 13vh !important;

    &:nth-child(1) {
      & .content {
        & .text-content {
          & p {
            width: 100%;
            margin: 0;

            & i {
              font-size: 14px;
            }
          }
        }
      }

      & .img-wrapper {

        img,
        video {
          &:nth-child(1) {
            top: 0px;
            right: -10px;
            width: 190px;
            height: 190px;
          }

          &:nth-child(2) {
            display: none;
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
          }

          &:nth-child(3) {
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
            transform: rotate(2deg);
            // display: none;
          }

          // &:nth-child(4) {
          //   right: 40px;
          //   top: 100px;
          //   width: 274px;
          //   height: 342px;
          //   // display: none;
          // }
        }

        .note {
          display: none;
        }

        .rounded-shape {
          top: 200px;
        }
      }
    }

    &:nth-child(2) {
      & .content {

        & .text-content {

          & p {
            width: 85vw;
          }

        }
      }

      & .img-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        & .campaign-card {
          height: 470px !important;
        }
      }
    }
  }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 426px) and (max-width: 767px) {

  section.campaigns {

    &:nth-child(1) {

      & .content {
        & .text-content {
          & p {
            width: 100%;
          }

          //text-align: center;
          & .nav-link:active {
            background-color: transparent !important;
            text-decoration: underline;
            color: red;
          }

          & a {
            font-size: 14px;

            // color: $red;
            &:hover {
              text-decoration: underline;
              color: red;
            }

            &:active {
              color: red;
              text-decoration: underline;
            }
          }
        }
      }

      & .img-wrapper {
        & .gif-talent {
          height: 220px;
          width: 50%;
          // &#gif-one {
          //   animation: 10.1s gifMakerFive infinite;
          // }
          // &#gif-two {
          //   animation: 10.3s gifMakerSix infinite;
          // }
          // &#gif-three {
          //   display: none;
          //   animation: 10s gifMakerSeven infinite;
          // }
          // &#gif-four {
          //   display: none;
          //   animation: 10.2s gifMakerHeight infinite;
          // }
        }

        & .note {
          margin: 30px 10px;
          width: 24%;
          font-size: 18px;
          text-transform: uppercase;

          & span {
            text-decoration: line-through;
          }
        }
      }
    }

    &:nth-child(2) {
      flex-direction: column;
      padding-top: 13vh;

      & .text-content {
        padding: 10px 0;
      }

      & .nav-pills {
        justify-content: center !important;

        & .nav-link {
          font-size: 12px !important;
          padding: 5px 20px;
        }
      }

      & .img-wrapper {
        height: 460px;
        grid-template-columns: 1fr 1fr;

        & .campaign-card {
          height: 460px !important;
        }
      }
    }

  }

  section.campaign {
    padding: 0px !important;
    padding-top: 13vh !important;

    &:nth-child(1) {
      & .content {
        & .text-content {
          & p {
            width: 100%;
            margin: 0;

            & i {
              font-size: 14px;
            }
          }
        }
      }

      & .img-wrapper {

        img,
        video {
          &:nth-child(1) {
            top: 0px;
            right: -10px;
            width: 190px;
            height: 190px;
          }

          &:nth-child(2) {
            display: none;
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
          }

          &:nth-child(3) {
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
            transform: rotate(2deg);
            // display: none;
          }

          // &:nth-child(4) {
          //   right: 40px;
          //   top: 100px;
          //   width: 274px;
          //   height: 342px;
          //   // display: none;
          // }
        }

        .note {
          display: none;
        }

        .rounded-shape {
          top: 200px;
        }
      }
    }

    &:nth-child(2) {
      & .content {

        & .text-content {

          & p {
            width: 85vw;
          }

        }
      }

      & .img-wrapper {
        grid-template-columns: 1fr 1fr;

        & .campaign-card {
          height: 470px !important;
        }
      }
    }
  }

}

/*Smallest device*/
@media (min-width: 100px) and (max-width: 425px) {

  section.campaigns {

    &:nth-child(1) {

      & .content {
        & .text-content {
          & p {
            width: 100%;
          }

          //text-align: center;
          & .nav-link:active {
            background-color: transparent !important;
            text-decoration: underline;
            color: red;
          }

          & a {
            font-size: 14px;

            // color: $red;
            &:hover {
              text-decoration: underline;
              color: red;
            }

            &:active {
              color: red;
              text-decoration: underline;
            }
          }
        }
      }

      & .img-wrapper {
        & .gif-talent {
          //height: 220px;
          width: 100%;
          // & img {
          //   width: 330px;
          // }
          &#gif-five {
            display: none;
          }
          &#gif-six {
            display:none;
          }
          &#gif-seven {
            display:block;
            & img {
                width: 100%;
              }
          }
          &#gif-height {
            display:none;

          }
        }

        & .note {
          margin: 30px 10px;
          width: 24%;
          font-size: 18px;
          text-transform: uppercase;

          & span {
            text-decoration: line-through;
          }
        }
      }
    }

    &:nth-child(2) {
      flex-direction: column;
      // padding-top: 45vh;
      justify-content: center;
        // align-items: center;
        // background-color: black;
        // min-height: 65vh;

        & img {
          display: none;
        }

      & .text-content {
        padding: 10px 0;
      }

      & .nav-pills {
        justify-content: center !important;

        & .nav-link {
          font-size: 12px !important;
          padding: 5px 20px;
        }
      }

      & .img-wrapper {
        // height: 460px;
        padding: 30px;
        grid-template-columns: 1fr;

        & .campaign-card {
          height: 460px !important;
        }
      }
    }
    &:nth-child(3) {
      justify-content: center;
      align-items: center;
      background-color: black;
      min-height: 65vh;

      & img {
        display: none;
      }

      & .content {
        display: flex;
        /* width: 50vw; */
        // height: 60vh;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;

        & .text-content {
          width: 35vw;
          position: relative;

          //text-align: center;
          & .social-icons {
            flex-direction: unset;
          }

          & a {
            font-size: 14px;
            color: $red;

            &:hover {
              border-bottom: 1px $red solid;
            }
          }

          // .rounded-shape {
          //   position: absolute;
          //   top: -15px;
          //   left: 358px;
          //   transform: translate(-50%, -50%);
          //   content: "";
          //   // border: 1px solid #000;
          //   height: 100px;
          //   width: 390px;
          //   border-radius: 90%;
          //   transform: rotate(-10deg);
          //   pointer-events: none;
          //   z-index: 100;
          // }
        }
      }
    }

  }

  section.campaign {
    padding: 0px !important;
    padding-top: 13vh !important;

    &:nth-child(1) {
      & .content {
        & .text-content {
          & p {
            width: 100%;
            margin: 0;

            & i {
              font-size: 14px;
            }
          }
        }
      }

      & .img-wrapper {

        img,
        video {
          &:nth-child(1) {
            top: 0px;
            right: -10px;
            width: 190px;
            height: 190px;
          }

          &:nth-child(2) {
            display: none;
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
          }

          &:nth-child(3) {
            right: 40px;
            top: 25px;
            width: 274px;
            height: 342px;
            transform: rotate(2deg);
            // display: none;
          }

          // &:nth-child(4) {
          //   right: 40px;
          //   top: 100px;
          //   width: 274px;
          //   height: 342px;
          //   // display: none;
          // }
        }

        .note {
          display: none;
        }

        .rounded-shape {
          top: 200px;
        }
      }
    }

    &:nth-child(2) {
      & .content {

        & .text-content {

          & p {
            width: 85vw;
          }

        }
      }

      & .img-wrapper {
        grid-template-columns: 1fr;

        & .campaign-card {
          height: 470px !important;
        }
      }
    }
  }

}