<!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3 logoBox" style="text-align:center">
            <div class="logo">
              <%= link_to root_path do %>
                <%= image_tag 'logo-blanc.png', alt:"ADCREW Agency", width: 200 %>
              <% end %>
            </div>
            <div class="logo-hover">
              <%= link_to root_path do %>
                <%= image_tag 'logo.png', alt:"ADCREW Agency", width: 200 %>
              <% end %>
            </div>
          </div>

          <div class="col-xs-6 col-md-3" style="text-align:center">
            <h6>Contactez-nous</h6>
            <p>104 rue Réaumur <br> 75002 Paris <br> +33 (0)1 42 86 97 16 <br> contact@adcrew-paris.com
          </div>

          <div class="col-xs-6 col-md-3" style="text-align:center">
            <h6>À propos</h6>
            <ul class="footer-links">
              <li><a href="#">Team</a></li>
              <li><a href="#">Prod</a></li>
              <li><a href="#">Talent</a></li>
              <li><a href="#">Mentions legales</a></li>
            </ul>
          </div>

           <div class="col-md-3 col-xs-6" style="text-align:center">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div>
        <div class="legal-links container" style="text-align:center">
          <div class="copyright">
            <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
              <a href="#">Adcrew</a>.
            </p>
          </div>
        <div class="Made">
          <span>Made with <span class="heart">♥</span> by One</span>
        </div>
      </div>
</footer>
