<div id="footer d-flex">
  <div>
    <span class="footer-copyright">Copyright © ADCREW 2021</span>
  </div>
  <div>
    <ul class="footer-links">
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-youtube"></i></li>
      <li><i class="fab fa-tiktok"></i></li>
    </ul>
  </div>
</div>


<%# <div class="footer d-flex justify-content-between">
  <div class="footer-links">
    <a href="http://www.nyan.cat/" target="_blank"><img src="https://img.icons8.com/ios-filled/30/000000/cat-butt.png"/></a>
    <a href="https://www.youtube.com/watch?v=J---aiyznGQ" target="_blank"><img src="https://img.icons8.com/pastel-glyph/30/000000/cat--v1.png"/></a>
    <a href="https://www.cats.org.uk/" target="_blank"><img src="https://img.icons8.com/fluency-systems-regular/30/000000/cat.png"/></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-paw"></i> at Le Wagon
  </div>
</div> %>
