<div id="footer">
  <span class="copyright">Copyright © ADCREW 2021</span>
  <ul class="social-icons">
    <li><i class="fab fa-instagram"></i></li>
    <li><i class="fab fa-facebook"></i></li>
    <li><i class="fab fa-youtube"></i></li>
    <li><i class="fab fa-tiktok"></i></li>

  </ul>
</div>
