<div id="footer">
  <div>
    <span class="footer-copyright">Copyright © ADCREW 2021</span>
  </div>
  <div class="wrapper-footer">
    <ul class="footer-links">
      <li>
        <div class="icon instagram">
          <div class="tooltip">Instagram</div>
            <a href="https://www.instagram.com/adcrew_agency/" target="_blank"></a><i class="fab fa-instagram"></i>
        </div>
      </li>
      <li>
        <div class="icon facebook">
          <div class="tooltip">Facebook</div>
            <a href="https://www.facebook.com/ADCREWparis/?ref=br_rs" target="_blank"></a><i class="fab fa-facebook"></i>
        </div>
      </li>
      <li>
        <div class="icon youtube">
          <div class="tooltip">Youtube</div>
            <a href="https://www.youtube.com/channel/UCYfhRFzLInc3PPawJ3we0-w?view_as=subscriber" target="_blank"></a><i class="fab fa-youtube"></i>
        </div>
      </li>
      <li>
        <div class="icon linkedin">
          <div class="tooltip">LinkedIn</div>
            <a href="https://www.linkedin.com/company/adcrew-paris/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </li>
    </ul>
  </div>
</div>


<%# <div class="footer d-flex justify-content-between">
  <div class="footer-links">
    <a href="http://www.nyan.cat/" target="_blank"><img src="https://img.icons8.com/ios-filled/30/000000/cat-butt.png"/></a>
    <a href="https://www.youtube.com/watch?v=J---aiyznGQ" target="_blank"><img src="https://img.icons8.com/pastel-glyph/30/000000/cat--v1.png"/></a>
    <a href="https://www.cats.org.uk/" target="_blank"><img src="https://img.icons8.com/fluency-systems-regular/30/000000/cat.png"/></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-paw"></i> at Le Wagon
  </div>
</div> %>
