
<body>
   <div class="banner">
    </div>

    <div class="features">
      <div class="container1">
        <div class="wording">
          <h2>Qui sommes-nous?</h2>
          <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quibusdam corporis ipsa, ipsum doloremque ab pariatur repellendus recusandae culpa animi delectus consectetur consequuntur! Nihil, asperiores rerum. Quaerat ex cum placeat!</span>
          <button>En savoir plus</button>
        </div>
        <div class="wording-image">
        </div>
      </div>
    </div>
    <div class="features">
      <h1>Nos Campagnes</h1>

      <div class="container2">
        <div class="campagnes-home">
          <h2>Studio</h2>
          <h3>Nos Campagnes AD CREW</h3>
        </div>
        <div class="campagne-image">
          <%= image_tag('camp1.png') %>
          <%= image_tag('camp2.png') %>
          <%= image_tag('camp3.png') %>
        </div>
      </div>
    </div>

    <%# <div id="footer">
      <p>AXA Landing Page / 2019</p>
      <ul class="social-icons">
        <li><i class="fab fa-facebook"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fas fa-envelope-open-text"></i></li>
      </ul>
    </div> %>


</body>
