
<body>
  <div class="banner">
      <%#a class="typeform-share button" href="https://thanh818518.typeform.com/to/uxNbw1" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Je veux être contacté.e</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> %>
  </div>

  <div class="container">
    <div class="who-are-we">
      <h4> Qui sommes-nous?</h4>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quo necessitatibus facilis, doloribus, quos dolore esse magnam modi ea nostrum, eveniet ipsam voluptates dolor non autem dolorum cumque cum repudiandae.</h1>
      <button>En savoir plus</button>
    </div>
    <div class="wording-image">
      <img src="images" alt="" srcset="">
    </div>
  </div>

    <div class="features">
      <h1>Nos campagnes</h1>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature">
              <div class="feature-title">
                <img src="images/auto.png" alt="" class="icon">
                <h3>Jennifer</h3>
              </div>
              <p>Dernier modèle ou vieille guimbarde, votre voiture est souvent comme votre seconde maison. Pensez à la protéger ainsi que ses occupants avec une bonne assurance auto.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature">
              <div class="feature-title">
                <img src="images/bancaire.png" alt="" class="icon">
                <h3>Jean-Paul Gaultier</h3>
              </div>
              <p>Avec l'assurance vie AXA, nous vous proposons des solutions pour concrétiser ces  projets et avancer dans la vie. Prenons le temps de nous rencontrer pour en discuter !</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature">
              <div class="feature-title">
                <img src="images/habitation.png" alt="" class="icon">
                <h3>H&M</h3>
              </div>
              <p>Maison à la campagne ou appartement citadin, votre logement, c'est votre cocon. Protéger votre domicile avec une assurance habitation qui vous ressemble, c’est essentiel !</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature">
              <div class="feature-title">
                <img src="images/maladie.png" alt="" class="icon">
                <h3>Calvin Klein</h3>
              </div>
              <p>En choisissant une assurance complémentaire, vous bénéficiez ainsi d’une meilleure prise en charge de votre santé, pour vous et votre famille.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div id="footer">
      <p>ADCREW / 2021</p>
      <ul class="social-icons">
        <li><i class="fab fa-facebook"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fas fa-envelope-open-text"></i></li>
      </ul>
  </div>
</body>
