<%= content_for(:navbar_class, "main-sidebar-home") %>
<div class="banner-talent">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>

<div class="dude">
  <div class="blur-wrapper">
    <div class="dude__image" style="background-image: url(<%= asset_path('maud.png') %>)"></div>
  </div>
  <div class="dude__title">
    <div class="centerxy">
      <h3>CEO</h3>
      <h4>Maud H. Lejeune</h4>
    </div>
  </div>
</div>

<div class="container-team">
  <div class="box">
    <div class="imgBx">
      <%= image_tag 'maud.png', style:'width:300px'%>
    </div>
    <div class="card-footer">
      <h3>Lorem Ipusem</h3>
      <h3>Senior Front-end Developer</h3>
    </div>
  </div>

  <div class="box">
    <div class="imgBx">
       <%= image_tag 'jessica.png', style:'width:300px'%>
    </div>
    <div class="card-footer">
      <h3>Lorem Ipusem</h3>
      <h3>Senior Front-end Developer</h3>
    </div>
  </div>

  <div class="box">
    <div class="imgBx">
      <img src="https://i.ibb.co/2MP418L/team-3.jpg" alt="">
    </div>
    <div class="card-footer">
      <h3>Lorem Ipusem</h3>
      <h3>Senior Front-end Developer</h3>
    </div>
  </div>

  <div class="box">
    <div class="imgBx">
      <img src="https://i.ibb.co/jGcmRHP/team-4.jpg" alt="">
    </div>
    <div class="card-footer">
      <h3>Lorem Ipusem</h3>
      <h3>Senior Front-end Developer</h3>
    </div>
  </div>

</div>
