<%= content_for(:navbar_class, "main-sidebar-home") %>
<div class="banner-talent">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>

<div class="dude">
  <div class="blur-wrapper">
    <div class="dude__image" style="background-image: url('maud.png')"></div>
  </div>
  <div class="dude__title">
    <div class="centerxy">
      <h3>CEO</h3>
      <h4>Maud H. Lejeune</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 team-card columns">
    <div class="team-avatar" style="background-image: url('maud.png');">
      <div class="team-description">
        <div class="team-avatar-round-container">
          <div class="team-avatar-round" style="background-image: url('maud.png');"></div>
        </div>
        <span class="team-name">Ella Stevens</span><br>
        <span class="team-position">CEO</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum, nunc et pulvinar facilisis, tortor metus vulputate nulla, mattis fermentum mi urna sed neque.</p>
        <a href="" class="team-button"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <a href="" class="team-button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

    <div class="small-12 medium-4 team-card columns">
    <div class="team-avatar" style="background-image: url(http://i.pravatar.cc/500?img=12);">
      <div class="team-description">
        <div class="team-avatar-round-container">
          <div class="team-avatar-round" style="background-image: url(http://i.pravatar.cc/500?img=12);"></div>
        </div>
        <span class="team-name">Cody Wright</span><br>
        <span class="team-position">Developer</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum, nunc et pulvinar facilisis, tortor metus vulputate nulla, mattis fermentum mi urna sed neque.</p>
        <a href="" class="team-button"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <a href="" class="team-button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

    <div class="small-12 medium-4 team-card columns">
    <div class="team-avatar" style="background-image: url(http://i.pravatar.cc/500?img=58);">
      <div class="team-description">
        <div class="team-avatar-round-container">
          <div class="team-avatar-round" style="background-image: url(http://i.pravatar.cc/500?img=58);"></div>
        </div>
        <span class="team-name">Noah Owens</span><br>
        <span class="team-position">Designer</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum, nunc et pulvinar facilisis, tortor metus vulputate nulla, mattis fermentum mi urna sed neque.</p>
        <a href="" class="team-button"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <a href="" class="team-button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

</div>
