<%= content_for(:navbar_class, "main-sidebar-home") %>
<div class="banner-talent">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>
<div class="row">
  <h1>ADCREW c'est <span>une famille</span></h1>
  <p>C'est l'histoire d'une agence de communication 3.0 qui a vu le jour en 2017 à l'instar de deux parisiennes, Jessica et Maud.</p>
</div>
<div class="container">
  <div class="image-ceo">
  </div>
  <div class="wording-ceo">
    <h3>Une histoire de femme</h3>
    <p>En fait... c'est d'abord une histoire de femmes, de femmes emtrepreneurs, passionnées de digitale qui se sont lancées à la conquête d'une nouvelle manière de communiquer.</p>
  </div>
</div>

<h2 style="text-align:left">La Team</h2>

<div class="container-team">
  <div class="box">
    <div class="imgBx">
      <%= image_tag 'maud.png', style:'width:300px'%>
    </div>
    <div class="card-footer">
      <h3>Lorem Ipusem</h3>
      <h3>Senior Front-end Developer</h3>
    </div>
  </div>

  <div class="box">
    <div class="imgBx">
       <%= image_tag 'jessica.png', style:'width:300px'%>
    </div>
    <div class="card-footer">
      <h3>Lorem Ipusem</h3>
      <h3>Senior Front-end Developer</h3>
    </div>
  </div>

  <div class="box">
    <div class="imgBx">
      <img src="https://i.ibb.co/2MP418L/team-3.jpg" alt="">
    </div>
    <div class="card-footer">
      <h3>Lorem Ipusem</h3>
      <h3>Senior Front-end Developer</h3>
    </div>
  </div>

  <div class="box">
    <div class="imgBx">
      <img src="https://i.ibb.co/jGcmRHP/team-4.jpg" alt="">
    </div>
    <div class="card-footer">
      <h3>Lorem Ipusem</h3>
      <h3>Senior Front-end Developer</h3>
    </div>
  </div>

</div>
