// body {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   background-color: #19181a
// }
// $COLOR: #F1C40F;

// .inner {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 20px;
//   height: 20px;
//   box-sizing: border-box;
//   border-radius: 50%;
//   background-color: orange;
//   border: 10px solid $COLOR;
//   box-shadow: 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 40px $COLOR, 0 0 55px $COLOR;
//   transform: translateX(-50%) translateY(-50%)
// }
:root{
    --anim-duration: 2s;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  // background-image: asset-url('gradient-bg.png');
  // background-color: #e42b03;
  // background: linear-gradient(56deg, #e42b03 0%, #f7f7f7 41%);
  // background: linear-gradient(27deg, rgba(255,255,255,1), rgba(255,25,0,0) 40%), linear-gradient(127deg, rgba(255,255,255,1), rgba(255,0,0,0.5) 90.71%), linear-gradient(9deg, rgba(255,255,255,1), rgba(255,0,0,0.5) 90.71%), linear-gradient(17deg, rgba(255,255,255,1), rgba(255,0,0,0.5) 95.71%), linear-gradient(336deg, rgba(255,255,255,1), rgba(0,0,255,0) 20.71%);
  // -webkit-animation: gradient 17s ease infinite;
  // -moz-animation: gradient 17s ease infinite;
  // animation: gradient 17s ease infinite;
  // // &:before {
  // animation: OpacityAnim var(--anim-duration) ease-in-out 0s infinite alternate;
  // }
  // &:after {
  //   animation: OpacityAnim var(--anim-duration) ease-in-out calc(-1 * var(--anim-duration)) infinite alternate;
  // }
  position:relative;
}
// @keyframes gradient {
//     0% {
//         background-position: 0% 50%;
//     }
//     50% {
//         background-position: 100% 50%;
//     }
//     100% {
//         background-position: 0% 50%;
//     }
// }
@-webkit-keyframes gradient {
    0%{background-position:50% 0%;}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
.hidden {
  display: none;
}
.red-color {
  color: red;
}
.blue-color {
  color: blue;
}
.fa-solid .fas {
  // font-family: "Font Awesome 6 Free";
  // font-weight: 900;
  font-size: 18px;
  color: red;
}

// @media (max-width: 425px) {
//   .arrow-top {
//     display: none;
//   }
// }
