// body {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   background-color: #19181a
// }
// $COLOR: #F1C40F;

// .inner {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 20px;
//   height: 20px;
//   box-sizing: border-box;
//   border-radius: 50%;
//   background-color: orange;
//   border: 10px solid $COLOR;
//   box-shadow: 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 40px $COLOR, 0 0 55px $COLOR;
//   transform: translateX(-50%) translateY(-50%)
// }
:root{
    --anim-duration: 2s;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  // background-image: asset-url('gradient-bg.png');
  color:black;
  background-size: 400% 400%;
  background-repeat: no-repeat;
  // background-color: #e42b03;
  background: linear-gradient(56deg, #e42b03 0%, #f7f7f7 41%);
  // animation: gradient 5s ease infinite;
  &:before {
  animation: OpacityAnim var(--anim-duration) ease-in-out 0s infinite alternate;
  }
  &:after {
    animation: OpacityAnim var(--anim-duration) ease-in-out calc(-1 * var(--anim-duration)) infinite alternate;
  }
}
@keyframes OpacityAnim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.hidden {
  display: none;
}
.red-color {
  color: red;
}
.blue-color {
  color: blue;
}
