//////////////NAVBAR//////////////

.navbar {
  padding: 0.5rem 40px !important;
}

.logo {
  font-family: $header-font;
  color: $red;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  & span {
    font-weight: 300;
  }
}

.openbtn {
  font-size: 30px;
  color: black;
  padding: 10px;
  &:hover {
    color: $red;
  }
}
.openbtn-white {
  font-size: 30px;
  color: white;
  padding: 10px;
  &:hover {
    color: $red;
  }
}

//////////////SIDEBAR//////////////

// .sidebar {
//   display: none;
//   backdrop-filter: blur(0px);
// }

.sidebar {
  display: none;
}

.sidebar.active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  // width: 100vw;

  position: fixed;
  z-index: 20000;
  top: 0;
  right: 0;
  overflow-x: hidden;

  background-color: rgba(0, 0, 0, 0.2);
  animation: 0.3s blur forwards;

  & .navbar .closebtn {
    padding: 5px 15px;
  }
}

@keyframes blur {
  from {
    backdrop-filter: blur(1px);
  }
  to {
    backdrop-filter: blur(15px);
  }
}

.sidebar ul {
  padding: 0;
  & li {
    list-style: none;
    text-decoration: none;
  }
}

.closebtn {
  font-size: 38px;
  color: #f4f4f4;
  &:hover {
    color: $red;
  }
}

.sidebar .side-links a {
  color: #f4f4f4;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  font-family: $header-font;
  text-transform: uppercase;
  line-height: 2;
  &:hover {
    color: $red !important;
  }
}


// .main-sidebar {
//   transition: margin-left .5s;
//   padding: 16px;
//   margin-top: -20px;
//   display: flex;
//   justify-content:space-between;
//   overflow-y: scroll;
//   background-color: transparent;
//   // width: 250px;
//   // position: fixed;
//   // top: 0;
//   // color:white;
//   // right: -250px;
//   // height: 100vh;
//   z-index: 999;
//   // background: #E94740;
//   // opacity: 0.95;
// }

// .main-sidebar-home {
//   transition: margin-left .5s;
//   padding: 16px;
//   position: fixed;
//   width: 100%;
//   display: flex;
//   justify-content:space-between;
//   overflow-y: scroll;
//   background-color: transparent;
//   // width: 250px;
//   // position: fixed;
//   // top: 0;
//   // color:white;
//   // right: -250px;
//   // height: 100vh;
//   // z-index: 999;
//   // background: #E94740;
//   // opacity: 0.95;
// }
// .sidebar-header h3 {
//   color:white;
//   font-weight: 600;
//   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//   padding: 20px;
// }
// .sidebar-header p {
//   color:white;
//   font-weight: 100;
//   padding: 20px;
// }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
// @media screen and (max-height: 450px) {
//   // .sidebar {padding-top: 15px;}
//   // .sidebar a {font-size: 18px;}
// }

@media (max-width: 500px) {
  .navbar {
    padding: 0.5rem 30px !important;
  }
  .logo {
    font-size: 20px;
  }
  .openbtn {
    padding: 10px 0;
  }
}
