
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.swiper-slide {
  // background-position: center;
  // background-size: cover;
  width: 350px;
  height: 350px;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-grow: 1;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.swiper-pagination-bullet {
  background-color: red !important;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
/* change color of next 2 bullets in sequence to white*/

.swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-next-next {
  background-color: white;
}
/* change color of previous bullet to white*/

.swiper-pagination-bullet-active-prev {
  background-color: white;
}
.swiper-button-next {
  color:red !important;
}
.swiper-button-prev {
  color:red !important;
}
