.nav-link {
  background-color: transparent;
  color: black !important;
  // min-height: 200px;
  height: auto;
}
.nav-link.active {
  background-color: transparent !important;
  color: red !important;
  // min-height: 200px;
  height: auto;
}
