<h1>It is working!!</h1>

<ul>
  <%# @campaigns.each do |campaign| %>
    <li><%#= campaign.name %></li>
  <%# end %>

</ul>

<h1>Campagne AD CREW</h1>
<div class="col-md-6 col-md-offset-3">
  <div id="campaigns" class="transitions-enabled">
    <% @campaigns.each do |campaign| %>
      <div class="box panel panel-default">
        <%#= link_to (image_tag campaign.image.url), campaign %>
        <h2>
          <%= link_to campaign.name, campaign %>
        </h2>
      </div>
    <% end %>
  </div>
</div>
 <%= link_to "Gram it", new_campaign_path %>
