
<ul>
  <%# @campaigns.each do |campaign| %>
    <li><%#= campaign.name %></li>
  <%# end %>

</ul>

<h1>Campagne AD CREW</h1>
 <%= link_to "Gram it", new_campaign_path %>

<div class="wagon-cards-with-map">
  <div class="wagon-card-container">
    <div class="wagon-cards">
      <% @campaigns.each do |campaign| %>
        <div class="wagon-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= campaign.photos.attached? ? cl_image_path(campaign.photos.first.key) : asset_path('background.jpeg') %>)">
          <%= link_to campaign.name, campaign %>
        </div>
      <% end %>
    </div>
  </div>
</div>
